<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>PtidDevc</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Cst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQhfQURSDAAAFgA=</data>
					<key>Replace</key>
					<data>SEVDSQhfQURSDAAAAAA=</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Change Device(HECI) _ADR=0x00160000 to _ADR=0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVBSVwpwEg==</data>
					<key>Replace</key>
					<data>WFBSVwpwEg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(UPRW,2,S) to XPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>AAAZABQfX1BSVwg=</data>
					<key>Replace</key>
					<data>AAAZABQfWFBSVwg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,Serialized) to Method(XPRW,0,..)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QlRJRgl5Cg==</data>
					<key>Replace</key>
					<data>QlRJMAl5Cg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QlRTVAp5Cg==</data>
					<key>Replace</key>
					<data>QlRTMQp5Cg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0JUQwNwDQ==</data>
					<key>Replace</key>
					<data>U0JUMgNwDQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(SBTC,3,NotSerialized) to SBT2</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JUSQFwDQ==</data>
					<key>Replace</key>
					<data>R0JUMwFwDQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GBTI,1,NotSerialized) to GBT3</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JUQwBwDQ==</data>
					<key>Replace</key>
					<data>R0JUNABwDQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GBTC,0,NotSerialized) to GBT4</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SVRMQgA=</data>
					<key>Replace</key>
					<data>SVRMMQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(ITLB,0,NotSerialized) to ITL1 (for G4)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>CE5CVEk=</data>
					<key>Replace</key>
					<data>CE5CVDU=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Name(NBTI,..) to NBT5</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDA=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT0,...) to Notify(_SB.BATC,...)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDE=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT1,...) to Notify(_SB.BATC,...)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UkRTUwk=</data>
					<key>Replace</key>
					<data>WERTUwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(RDSS,1,S) to XDSS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1JFRwKgKJNoCgM=</data>
					<key>Replace</key>
					<data>WFJFRwKgKJNoCgM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC Method(_REG,2,N) to XREG, 4x40s, 4x30s</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RwFwAHAAAQg=</data>
					<key>Replace</key>
					<data>RwFwAHAAAQI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RTC fix</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>PtidDevc</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Fast</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 rtsx_timeout_shift=n</string>
		<key>CustomLogo</key>
		<string>Apple</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>furqonicmac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<true/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,5</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series PCI Express Root Port 6</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>8 Series USB xHCI HC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series PCI Express Root Port 4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series PCI Express Root Port 1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,25,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>Ethernet Connection I218-LM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x5)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,5/0,0</string>
				<key>device_type</key>
				<string>Unassigned class</string>
				<key>model</key>
				<string>RTS5227 PCI Express Card Reader</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wireless 7260</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>model</key>
				<string>8 Series HD Audio Controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Haswell-ULT HD Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-portcount</key>
				<data>BAAAAA==</data>
				<key>framebuffer-con2-preferred-lspcon-mode</key>
				<data>AAAAAA==</data>
				<key>device-id</key>
				<data>EgQAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>enable-hdmi-dividers-fix</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>AAPL00,override-no-connect</key>
				<data>AP///////wAGr3ycAAAAAAAWAQSVIhNgAm+xp1VMniUMUFQAAAABAQEBAQEBAQEBAQEBAQEBFDeAtHA4IEAwZDEAWMEQAAAYuCSAtHA4IEAwZDEAWMEQAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAMM/8OPJYbDRyWICAgAAI=</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>AAPL,ig-platform-id</key>
				<data>AAAmBA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics Controller</string>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>8 Series SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,3</string>
				<key>device_type</key>
				<string>Serial controller</string>
				<key>model</key>
				<string>8 Series HECI KT</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>8 Series SATA Controller 1 [AHCI mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>8 Series LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Haswell-ULT DRAM Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>8 Series HECI #0</string>
			</dict>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusPCI</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02533102J9FD471H</string>
		<key>ROM</key>
		<data>V2LkJg/6</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE00FE137</string>
		<key>Board-ID</key>
		<string>Mac-7DF21CB3ED6977E5</string>
		<key>Trust</key>
		<false/>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.F000.B00.2006101810</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02533102J9FD471H</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>SmUUID</key>
		<string>A3FE0F8C-4747-4F97-936E-BB50BC260FFA</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>122.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02Q70LEF5V7</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/10/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ForceExitBootServices</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
	</dict>
</dict>
</plist>